*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
nav{
    position: fixed;
    background-color:black;
    color:white;
    width:100%;
    height:60px;
    top: 0;
    
    
    
}
.logo{
position: absolute;
width: 100px;
height: 19px;
left: 28px;
top: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 25px;

}
.icon a{
position: absolute;
width: 61px;
height: 19px;
left: 750px;
top: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 250;
font-size: 16px;

/* identical to box height */
text-decoration: none;


color: #FFFFFF;
}
.icon1 a{
    position: absolute;
    width: 64px;
    height: 19px;
    left: 850px;
    top: 20px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 250;
    font-size: 16px;
    
    /* identical to box height */
    text-decoration: none;
    
    color: #FFFFFF;
}
.icon2 a{

position: absolute;
width:79px;
height: 19px;
left: 950px;
top: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 250;
font-size: 16px;

/* identical to box height */
text-decoration: none;

color: #FFFFFF;
}
.icon3 a{
    position: absolute;
    width: 79px;
    height: 29px;
    left: 1050px;
    top: 20px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 250;
    font-size: 16px;
    
    /* identical to box height */
    text-decoration: none;
    
    color: #FFFFFF;

}
#head{
    position: absolute;
width: 300px;
height: 80px;
left: 38px;
top: 100px;
text-decoration: none;
font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 44px;
line-height: 57px;

color: #000000;
}
#text{
    
position: absolute;
width: 500px;
height: 446px;
left: 38px;
top: 186px;

font-family: 'Inter';
font-style: normal;
font-weight: 200;
font-size: 16px;
line-height: 19px;
text-decoration: none;
color: #000000;
}
#image{
position: absolute;
width: 690px;
height: 411px;
left: 542px;
top: 125px;

}
#submit{
    position: absolute;
    background-color: black;
    color:white;
    top:380px;
    left:38px;
    padding:12px;
    font-size:11px;
    border-radius: 2px;
    width:115px;
}
#foot{
 position: absolute;
width: 300px;
height: 80px;
left: 38px;
top: 600px;

font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 44px;
line-height: 77px;

color: #000000;

}
.img{
    position: absolute;
    top:680px;
    left:38px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
#img1{
    position:relative;
    width:350px;
}
#img2{
    position: relative;
    width:350px;
}
#img3{
    position: relative;
    width: 350px;
    

}
#img4{
    position: relative;
    width: 340px;
    top:20px;
}
#img5{
      position: relative;
      width:340px;
      top:20px;
}
#img6{
       position: relative;
       width:340px;
       top:20px;
}
/*a{
    text-decoration: none;
    color: white;
}*/